.better-styles .h-12 {
  height: 3rem;
}
.better-styles .max-w-\[16rem\] {
  max-width: 16rem;
}
.better-styles .m-\[0\.3rem\] {
  margin: 0.3rem;
}
.better-styles .\!border-x-2 {
  border-left-width: 2px !important;
  border-right-width: 2px !important;
}
.better-styles .\!border-b-2 {
  border-bottom-width: 2px !important;
}
.better-styles .w-64 {
  width: 16rem;
}
.better-styles .h-64 {
  height: 16rem;
}
.better-styles .inset-x-0 {
  left: 0;
  right: 0;
}
.better-styles .bg-center {
  background-position: center;
}
.better-styles .bg-cover {
  background-size: cover;
}
.better-styles .hover\:text-red:hover {
  color: red;
}
.better-styles .\!overflow-hidden {
  overflow: hidden !important;
}
.better-styles .dark .dark\:text-white {
  color: white;
}
.better-styles .blur-sm {
  filter: blur(4px);
}
.better-styles .\!m-auto {
  margin: auto !important;
}
.better-styles .grow {
  flex-grow: 1;
}
.better-styles .gap-x-2 {
  column-gap: 0.5rem;
}
.better-styles .gap-y-6 {
  row-gap: 1.5rem;
}
.better-styles .outline-2 {
  outline-width: 2px;
}
.better-styles .outline-offset-2 {
  outline-offset: 2px;
}
.better-styles .outline-\[\#ff7c00\] {
  outline-color: #ff7c00;
}
.better-styles .hover\:scale-105:hover {
  transform: scale(1.05);
}
.better-styles .pb-0 {
  padding-bottom: 0;
}
.better-styles .pt-3 {
  padding-top: 0.75rem;
}
.better-styles .pt-4 {
  padding-top: 1rem;
}
.better-styles .pr-2 {
  padding-right: 0.5rem;
}
.better-styles .contents {
  display: contents;
}
.better-styles .grid-cols-\[max-content_1fr\] {
  grid-template-columns: max-content 1fr;
}
.better-styles .\!overflow-y-scroll {
  overflow-y: scroll !important;
}
.better-styles .resize-none {
  resize: none;
}
.better-styles.z-1000 {
  z-index: 1000;
}
.better-styles.toast {
  position: fixed;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transition-property: opacity, bottom, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 1100;
}
.better-styles.toast.show {
  opacity: 1;
  bottom: 1.5rem;
}
.better-styles.toast.fade-out {
  opacity: 0;
  bottom: 1.5rem;
}
.better-styles.toast-info {
  background-color: #0064b2;
}
.better-styles.toast-success {
  background-color: #00ce8d;
}
.better-styles.toast-warning {
  background-color: #ce6400;
}
.better-styles.toast-error {
  background-color: #ce0027;
}
