@import "modal.css";
@import "toast.css";

deepl-inline-translate {
  @apply tw-contents;
}

.better-styles-force-hidden,
.better-styles .\!hidden {
  @apply !tw-hidden;
}

.better-styles .button {
  @apply tw-inline-flex tw-cursor-pointer tw-items-center tw-justify-center tw-px-[var(--size-2)] tw-py-[var(--size-0-5)] tw-text-center;
  transition: var(--button-transition);
  box-shadow: var(--button-shadow);
}

.better-styles .button[disabled] {
  @apply tw-cursor-default;
}

.better-styles .button.lg {
  @apply tw-rounded-[var(--button-large-radius)] tw-p-[var(--button-large-padding)] tw-text-[length:var(--button-large-text-size)] tw-font-[var(--button-large-text-weight)];
}

.better-styles .button.primary {
  @apply tw-border-[length:var(--button-border-width)] tw-border-solid tw-border-[var(--button-primary-border-color)] tw-text-[var(--button-primary-text-color)];
  background: var(--button-primary-background-fill);
}

.better-styles .button.primary:hover {
  @apply tw-border-[var(--button-primary-border-color-hover)] tw-text-[var(--button-primary-text-color-hover)];
  background: var(--button-primary-background-fill-hover);
}

.better-styles .button.secondary {
  @apply tw-border-[length:var(--button-border-width)] tw-border-solid tw-border-[var(--button-secondary-border-color)] tw-text-[var(--button-secondary-text-color)];
  background: var(--button-secondary-background-fill);
}

.better-styles .button.secondary:hover {
  @apply tw-border-[var(--button-secondary-border-color-hover)] tw-text-[var(--button-secondary-text-color-hover)];
  background: var(--button-secondary-background-fill-hover);
}

.better-styles .text-input {
  @apply tw-relative tw-block tw-w-full tw-resize-none tw-rounded-[var(--input-radius)] tw-border-[length:var(--input-border-width)] tw-border-solid tw-border-[var(--input-border-color)] tw-p-[var(--input-padding)] tw-text-[length:var(--input-text-size)] tw-font-[var(--input-text-weight)] tw-leading-[var(--line-sm)] tw-text-[var(--body-text-color)] !tw-outline-none;
  background: var(--input-background-fill);
  box-shadow: var(--input-shadow);
}

.better-styles .text-input.search {
  @apply tw-ml-[0.6rem] tw-h-[42px] tw-overflow-y-scroll;
}

.better-styles .checkbox-wrapper {
  @apply tw-cursor-pointer;
}

.better-styles .checkbox-wrapper.disabled {
  @apply tw-cursor-default tw-opacity-50;
}

.better-styles .checkbox-wrapper > .label {
  @apply tw-ml-2;
}

.better-styles .checkbox-wrapper > [type="checkbox"] {
  @apply tw-relative tw-inline-block tw-h-4 tw-w-4 tw-flex-shrink-0 tw-select-none tw-appearance-none tw-rounded-[var(--checkbox-border-radius)] tw-border tw-border-solid tw-border-[var(--checkbox-border-color)] tw-bg-[var(--checkbox-background-color)] tw-bg-origin-border tw-p-0 tw-align-middle tw-leading-[var(--line-sm)] tw-text-[#2563eb];
  --ring-color: transparent;
  color-adjust: exact;
  box-shadow: var(--input-shadow);
}

.better-styles .checkbox-wrapper > [type="checkbox"]:checked {
  @apply tw-border-[var(--checkbox-border-color-selected)] tw-bg-[var(--checkbox-background-color-selected)] tw-bg-[image:var(--checkbox-check)];
}

.better-styles .checkbox-wrapper:not(.disabled) > [type="checkbox"]:not(:checked):hover {
  @apply tw-border-[var(--checkbox-border-color-hover)] tw-bg-[var(--checkbox-background-color-hover)];
}

.better-styles .tab-nav {
  @apply tw-relative tw-flex tw-flex-wrap tw-whitespace-nowrap tw-border-b tw-border-solid tw-border-[var(--border-color-primary)];
}

.better-styles .tab-nav > .label {
  @apply -tw-mb-[1px] tw-flex tw-items-center tw-rounded-t-[var(--container-radius)] tw-border tw-border-b-0 tw-border-solid tw-border-[var(--border-color-primary)] tw-py-[var(--size-1)] tw-px-[var(--size-4)] tw-text-[length:var(--section-header-text-size)] tw-font-[var(--section-header-text-weight)] tw-text-[var(--body-text-color)];
  background: var(--background-fill-primary);
}

.better-styles .tab-nav > .button {
  @apply tw-m-[0.3rem];
}

.better-styles .tab-item {
  @apply tw-relative tw-flex tw-flex-col tw-gap-3 tw-rounded-b-[var(--container-radius)] tw-border tw-border-t-0 tw-border-[var(--border-color-primary)] tw-p-[var(--block-padding)];
}

.better-styles .group-container > .custom-button {
  @apply tw-m-[0.3rem];
}

.better-styles .group-container > .custom-button[disabled] {
  @apply tw-border-[var(--button-primary-border-color)];
  background: none;
}

.better-styles .styles-cards > .no-cards {
  @apply tw-mx-2;
}

.better-styles .no-cards > p {
  @apply tw-mb-4 tw-text-2xl;
}

.better-styles .styles-cards > .card {
  @apply tw-relative tw-m-2 tw-inline-block tw-h-64 tw-w-64 tw-cursor-pointer tw-select-none tw-overflow-hidden tw-rounded;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}

.better-styles .styles-cards > .card:not(.selected):hover {
  box-shadow: 0 0 2px 0.3em rgba(0, 128, 255, 0.35);
}

.better-styles .styles-cards > .card.selected {
  @apply tw-outline tw-outline-2 tw-outline-offset-2 tw-outline-[#ff7c00];
}

.better-styles .card > .show-detail-button {
  @apply tw-absolute tw-right-4 tw-z-10 tw-hidden tw-w-6 tw-p-1 tw-text-[22pt] tw-text-white;
  text-shadow: 2px 2px 3px black;
}

.better-styles .card:hover > .show-detail-button {
  @apply tw-inline-block;
}

.better-styles .card:hover > .show-detail-button::before {
  @apply tw-content-["🛈"];
}

.better-styles .card > .image {
  @apply tw-absolute tw-h-full tw-w-full tw-object-cover tw-transition-transform tw-duration-500 tw-ease-out;
}

.better-styles .card:hover > .image {
  transform: scale(1.05);
}

.better-styles .card > .actions {
  @apply tw-absolute tw-inset-x-0 tw-bottom-0 tw-flex tw-flex-col tw-bg-black/50 tw-p-2 tw-text-white;
  box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.2em black;
}

.better-styles .actions > .replace-preview {
  @apply tw-mt-1 tw-mb-3 tw-ml-1 tw-hidden tw-text-sm;
}

.better-styles .actions > .replace-preview:hover {
  color: red;
}

.better-styles .actions:hover > .replace-preview {
  display: inherit;
}

.better-styles .actions > .label {
  @apply tw-truncate tw-text-xl;
}

.better-styles .styles-detail {
  @apply tw-flex tw-flex-col tw-gap-y-6 tw-p-4;
}

.better-styles .styles-detail > .field-container {
  @apply tw-grid tw-grid-cols-[max-content_1fr] tw-items-baseline tw-gap-4;
}

.better-styles .field-container > .field {
  @apply tw-contents;
}

.better-styles .field > .label {
  @apply tw-text-right;
  overflow-wrap: anywhere;
}

.better-styles .field > .value {
  @apply tw-m-0 tw-rounded tw-border tw-border-solid tw-border-[var(--input-border-color)] tw-px-3 tw-py-1;
  overflow-wrap: anywhere;
}

.better-styles .save-style {
  @apply tw-flex tw-flex-col tw-gap-y-6 tw-p-4;
}

.better-styles .save-style > .text {
  @apply tw-text-xl;
}

.better-styles .save-style > .button-container {
  @apply tw-flex tw-justify-end tw-gap-x-2;
}

.better-styles .save-style > .input-fields {
  @apply tw-grid tw-grid-cols-[max-content_1fr] tw-items-baseline tw-gap-2;
}

.better-styles .input-fields > .input-field {
  @apply tw-contents;
}

.better-styles .input-field > .label {
  @apply tw-text-end;
}

.better-styles .input-field > .text-input {
  @apply tw-w-auto;
}

.better-styles .parameters > .parameter-fields {
  @apply tw-m-0 tw-flex tw-select-none tw-flex-wrap tw-gap-x-3 tw-gap-y-1 tw-p-0 tw-pt-1;
}

.better-styles .save-style > .other-options {
  @apply tw-flex tw-select-none tw-flex-col tw-gap-2;
}

.better-styles .save-style > .buttons {
  @apply tw-flex tw-gap-2;
}

.better-styles .buttons > .save-button {
  @apply tw-flex-grow;
}
